@charset "UTF-8";

body{
    display: flex;
    align-items: center;
    margin: 0; 
    background-color: white;
    padding: 0; 
}

.apresentacao{ 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 350px;
}

.apresentacao h1{ text-align: center; margin-bottom: 50px; }

.git{ text-decoration: none; color: white; font-weight: 700; font-size: 20px; }

.destaque{ 
    background-color: skyblue;
    width: 100%; 
    padding: 30px; 
    border-radius: 20px; 
    box-shadow: 4px 4px 2px gainsboro; 
}

.destaque:active{ box-shadow: none; }

.destaque:hover{ box-shadow: 8px 8px 4px gainsboro; }

.img-topo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.font-menu {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 5000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header-logo-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
}

.header-logo-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
}

.header-logo-sub {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-links {
    display: flex;
}

.main-container {
    width: 100%;
    height: 100%;
    margin-top: 350px;
    /*background-image: url('../img/background-home.svg');*/
}

.home-btn {
    margin-top: 5rem;
    text-align: center;
}

.text-home {
    color: #333;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

.line {
    border-right: 2px solid #333;
    color: #333;
    font-family: "Special Elite", monospace;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    color: #333;
    font-family: "Special Elite", monospace;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.sub-title {
    color: #333;
    font-family: "Special Elite", monospace;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms infinite normal,
     typing 2s steps(40) 0s normal both;
}

@keyframes blinkCursor {
    from {
        border-right-color: #333;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 15.5em;
    }
}

.button {
    background: #7843E9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: transform .3s;
}
    .button:hover {
        transform: translateY(-3px);
    }

    .button--bg {
        padding: 0.5rem 4rem;
        font-size: 1.5rem;
    }

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    padding: 0.5rem 1rem;
    margin-bottom: 1.1rem;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    background: rgba(153,153,153,0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projeto {
    width: 18rem;
    margin-left: 2.7rem;
    margin-top: 3.5rem;
}