@charset "UTF-8";

body{ margin: 0; background-color: white; padding: 0; }

.apresentacao{ 
    align-items: center;
    width: 500px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.apresentacao img{ margin-left: auto; margin-right: auto; }

.apresentacao h1{ text-align: center; margin-bottom: 50px; }

.git{ text-decoration: none; color: white; font-weight: 700; font-size: 20px; }

.destaque{ 
    background-color: skyblue;
    width: 100%; 
    padding: 30px; 
    border-radius: 20px; 
    box-shadow: 4px 4px 2px gainsboro; 
}

.destaque:active{ box-shadow: none; }

.destaque:hover{ box-shadow: 8px 8px 4px gainsboro; }

#skils { display: inline-block; border: solid 1px black; padding: 20px; margin-top: 40px;  }

.skil {
    border: solid 1px black;
    display: inline-block;
    padding: 10px;
    margin: 20px 20px;
    box-shadow: 7px 7px 8px gainsboro; 
}

#sobre h1{ text-align: center; }

#projetos{
    border: solid 1px black;
    padding: 20px;
    
    margin-top: 40px;
}

#projetos h1{ text-align: center; }

.projeto{
    border: solid 1px black;
    display: inline-block;
    padding: 10px;
    margin: 20px 20px;
    box-shadow: 7px 7px 8px gainsboro;
}

.projeto a h4{ text-decoration: none; }